/*Background color*/
body{background-color:#eee8dcff;}


/*Background colors*/
.b1{background-color:#9eb2bdff;}
.b2{background-color: #eee8dcff;} 

/*alignment*/
.mid{text-align:center;}

/*Text decoration*/
a{text-decoration: none;}


@media (max-width:768px){
	.banner-logo{
		width: 18%;}
	.instagram-logo{
		width: 18vw;}
		
	.background-img{
		width: 150%;
		margin-top: 12vw;
		margin-left: -25vw;
		z-index:-5;}
	.bestuur_container{
		flex-direction: column;       
        align-items: center;          
        justify-content: center;
        text-align: center;
		margin: 1vw;
      }
	.bestuur_foto{
		width: 100vw;}
		
	/*Header color*/
	/*blue banner name*/
		h1{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 8vw;
		}

	/*beige (menu)*/
		h2{color:#eee8dcff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*dark blue (menu)*/
		h3{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*main paragraph header*/
		h4{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 250%;}

	/*Main paragraph*/
		h5{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 165%;}
		
	/*namen bestuur*/
		h6{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 225%;}

	/*boxes*/
		.blue-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #2a4860ff;

		}

		.gold-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #d3bc8bff;}
	}

@media (min-width:768px){
	.banner-logo{
		width: 14%;}
	.instagram-logo{
		width: 14vw;}
	.background-img{
		width: 50%;
		margin-top: -5vw; 
		Margin-left:25vw; 
		z-index:-5;}
	.bestuur_container{
		margin-left: 10vw;
		display: flex;
		flex-direction: row;
		gap: 1vw;
		justify-content: flex-start;
		max-width: 80vw;
		}
	.bestuur_foto{
		width: 25vw;}
		
	/*Header color*/
	/*blue banner name*/
		h1{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 8vw;
		}

	/*beige*/
		h2{color:#eee8dcff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*dark blue (menu)*/
		h3{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 3vw;
		}

	/*main paragraph header*/
		h4{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 300%;}

	/*Main paragraph*/
		h5{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 200%;}
		
	/*namen bestuur*/
		h6{color:#2a4860ff;
		font-family:Times New Roman;
		font-size: 250%;}
	
	/*boxes*/
		.blue-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #2a4860ff;
		}

		.gold-box{
			  display: inline-block;
			  padding: 1vw;
			  margin: 0vw;
			  border: 0vw solid #333;
			  border-radius: 0vw;
			  background-color: #d3bc8bff;}
	}
			